.button {
  composes: button from "../patterns/button.css";
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}
