@value variables: "../base/variables.css";
@value base-font-size, base-border, action-color, base-spacing, small-spacing, scale-up-1 from variables;

.nav-list-item {
  list-style-type: none;
  text-align: center;
  margin: 0;
  font-size: calc(base-font-size * scale-up-1);
  padding: small-spacing;
  &:hover {
    background-color: white;
  }
}

.link {
  text-decoration: none;
  color: black;
}

.nav {
  margin: 0;
  padding: 0;
}
