@import "normalize.css/normalize.css";
@value variables: "../base/variables.css";
@value base-background-color from variables;
@value base-border from variables;
@value orange from variables;

.app {
  height: 100vh;
  background-color: base-background-color;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header {
  margin: 0;
  padding: .3em;
  color: black;
  float: left;
  color: orange;
}
