@import "normalize.css/normalize.css";
@value variables: "../base/variables.css";
@value base-background-color, base-border, action-color, base-spacing, small-spacing from variables;

.app {
  min-height: 100vh;
  background-color: base-background-color;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header {
  margin: 0;
  padding: small-spacing;
  color: black;
  float: left;
  color: action-color;
}

.footer {
  padding: base-spacing;
}
