@value variables: "../base/variables.css";
@value base-border from variables;

.container {
  composes: form from '../patterns/form.css';
  composes: container from '../patterns/container.css';
}

.inner-container {
  margin: 1em;
}

.header {
  margin: 0;
  padding-bottom: 1em;
  text-align: center;
}

.input {
  margin: .5em;
}

.submit {
  composes: button from '../patterns/button.css';
}
