@value variables: "../base/variables.css";
@value base-border, small-spacing, base-spacing from variables;

.container {
  composes: form from '../patterns/form.css';
  composes: container from '../patterns/container.css';
}

.inner-container {
  margin: base-spacing;
}

.header {
  composes: container-header from "../patterns/header.css";
}

.input {
  margin: small-spacing;
}

.submit {
  composes: button from '../patterns/button.css';
}
